*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: fixed;
    width: 70%;
}
.container{
width: 30%;
height: auto;
border-radius: 10px;
background-color: aqua;
    box-shadow: 1px 1px 5px;
padding: 10px;
position: fixed;
top: 100px;
left: 300px;
/* margin-bottom: 50px; */

}
.content{
    height: auto;
    left: 20px;
}
.content .ecran{
    width: 100%;
    height: 50px;
background-color: aliceblue;
}
.ecran input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
font-size: 30px;
text-align: right;


}
button{
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 1px;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px;
    width: 70px;
}
.bouton{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 100%;
    display: flex;
}
/* .bouton .chiffres{
    box-shadow: 0px 0px 1px;
    outline: none;
}
.bouton .operateur{
    flex-wrap: nowrap;
} */
